* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:lightgray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Navigation bar */
header {
    padding: 20px 30px;
    background-color:dimgrey;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    align-items: center;
    background-size: cover;
    position: sticky;
}

h1 {
    flex-basis: 40%;
    color:floralwhite;
}

nav {
    flex-basis: 60%;
    display: flex;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    padding: 5px;
    text-align: center;
    flex-grow: 1;
    color:lightgray;
}

/* About me section */
#about, #work, #contact {
    display:flex;
    justify-content: space-around;
    padding-top: 80px;
}

#about img {
    width: 30%;
    border-radius: 50%;
    border-right:3px dotted dimgrey;
}

.bio {
    display: flex;
    flex-basis: 75%;
}

p {
    flex-basis: 40%;
    text-align: center;
    padding: 100px;
    line-height: 1.5;
}

h2 {
    padding: 120px;
    border-right:3px dotted dimgrey;
}

#work h2 {
    padding-right: 193px;
}

#contact h2 {
    padding-left: 20px;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0px;
    padding-left: 30px;
}

.img1 {
    flex: 0 0 75%;
    max-width: 80%;
}

.img2, .img3{
    flex: 0 0 20%;
    max-width: 40%;
}

#contact h2 {
    padding-left: 163px;
}
.contacts {
    display: flex;
    flex-grow: 2;
    font-size: 20px;
    justify-content: flex-start;
    align-items: center;
}

h3 {
    padding: 100px;
}