* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:lightgray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Navigation bar */
header {
    padding: 20px 30px;
    background-color:dimgrey;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    align-items: center;
    background-size: cover;
    position: sticky;
    z-index: 9999
}

h1 {
    flex-basis: 40%;
    color:floralwhite;
    padding-left: 5px;
}

nav {
    flex-basis: 60%;
    display: flex;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    padding: 5px;
    padding-left: 240px;
    text-align: center;
    color:lightgray;
}

/* About me section */
#about, #work, #contact {
    display:flex;
    justify-content: space-around;
    padding-top: 80px;
}

#about img {
    width: 30%;
    border-radius: 50%;
    border-right:3px dotted dimgrey;
}

.bio {
    display: flex;
    flex-basis: 75%;
}

p {
    flex-basis: 70%;
    text-align: center;
    padding: 100px;
    line-height: 1.5;
}

h2 {
    padding: 120px;
    border-right:3px dotted dimgrey;
    margin-bottom: 50px;
}

#work h2 {
    padding-right: 193px;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0px;
    padding-left: 30px;
}

.box-caption {
    position: absolute;
    max-width: 300px;
    margin: 0;
    padding: 20px;
    word-break: break-word;
    font-size: 35px;
    background-color: rgba(0,0,0,.7);
    color: floralwhite;
  }

.img1 {
    flex: 0 0 75%;
    max-width: 90%;
}

.img2, .img3{
    flex: 0 0 20%;
    max-width: 45%;
}

#contact h2 {
    padding-left: 163px;
}

.contacts {
    display: flex;
    flex-grow: 2;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

h3 {
    padding: 100px;
}

.contacts a {
    text-decoration: none;
    color:dimgrey;
}

footer {
    padding: 20px 30px;
    background-color:dimgrey;
    text-align: center;
    color:floralwhite;

}

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {

    #about img {
        flex: 1 100%;
    }

    p {
        flex: 100%;
    }

    #work h2, #about h2 {
        padding-right: 40px;
    }

    h2 {
        padding: 0;
        border-right: none;
        margin-left: 10px;
    }

    .bio {
        flex-basis: 100%;
    }

    #contact h2 {
        padding: 0;
    }

    h3 {
        padding: 60px;
    }

    .box-caption {
        position: absolute;
        max-width: 200px;
        margin: 0;
        padding: 10px;
        word-break: break-word;
        font-size: 25px;
        background-color: rgba(0,0,0,.7);
        color: floralwhite;
      }

      nav a { 
          padding-left: 100px;
      }